src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/cinema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="UserCreateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"></xs:element>
                <xs:element name="password" type="xs:string"></xs:element>
                <xs:element name="email" type="xs:string"></xs:element>
                <xs:element name="money" type="xs:int"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserCreateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>