src/main/resources/User.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://localhost:8080/cinema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CreateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="password"/>
                <xs:element type="xs:string" name="email"/>
                <xs:element type="xs:int" name="amount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetUserInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="password"/>
                <xs:element type="xs:string" name="email"/>
                <xs:element type="xs:int" name="amount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>